{% extends "components/card.html" %}

{% block card_content %}
    <h1 class="fw-bold mb-0">Change your password</h1>
    <i class="fas fa-leaf fa-3x my-4"></i>

    {% include "components/error-handler.html" %}
    {% include "components/message-handler.html" %}

    <form action="/change_password/{{ user.pk }}" method="POST">
        <div class="form-outline mb-4">
            <input type="password" name="old_password" id="form2Example2" class="form-control"
                   required/>
            <label class="form-label" for="form2Example2">Old password</label>
        </div>
        <div class="form-outline mb-4">
            <input type="password" name="password" id="form2Example2" class="form-control"
                   required/>
            <label class="form-label" for="form2Example2">New password</label>
        </div>
        <div class="form-outline mb-5">
            <input type="password" name="password_confirm" id="form2Example2"
                   class="form-control" required/>
            <label class="form-label" for="form2Example2">Confirm password</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
{% endblock %}
