{% extends "components/card.html" %}

{% block card_content %}
    <h1 class="fw-bold mb-0">Create a new plant</h1>
    <i class="fas fa-leaf fa-3x my-4"></i>

    {% include "components/error-handler.html" %}

    <form action="/plant/create" method="POST">
        <div class="form-outline mb-4">
            <input type="text" name="name" id="form4Example1" class="form-control" required/>
            <label class="form-label" for="form4Example1">Name</label>
        </div>

        <div class="form-outline mb-4">
            <textarea class="form-control" name="description" id="form4Example3" rows="4" required></textarea>
            <label class="form-label" for="form4Example3">Description</label>
        </div>

        <div>
            <p class="mb-1">Temperature</p>
            <div class="btn-group mb-4">
                <input type="radio" class="btn-check" value="low" name="temperature" id="option1" autocomplete="off"/>
                <label class="btn btn-success" for="option1">Low</label>

                <input type="radio" class="btn-check" value="average" name="temperature" id="option2" autocomplete="off"
                       checked/>
                <label class="btn btn-success" for="option2">Average</label>

                <input type="radio" class="btn-check" value="high" name="temperature" id="option3" autocomplete="off"/>
                <label class="btn btn-success" for="option3">High</label>
            </div>
        </div>

        <div class="mb-4">
            <p class="mb-1">Humidity</p>
            <div class="btn-group mb-4">
                <input type="radio" class="btn-check" value="low" name="humidity" id="option4" autocomplete="off"/>
                <label class="btn btn-success" for="option4">Low</label>

                <input type="radio" class="btn-check" value="average" name="humidity" id="option5" autocomplete="off"
                       checked/>
                <label class="btn btn-success" for="option5">Average</label>

                <input type="radio" class="btn-check" value="high" name="humidity" id="option6" autocomplete="off"/>
                <label class="btn btn-success" for="option6">High</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-0">Create</button>
    </form>
{% endblock %}
